<div id="page">
    <div class="container pull-left">
        <h3 class="text-primary" >Select the Matrix_Base: </h3>
        <form name="myform" action="">
            <div><br>
                <input type="radio" name="group1" value="Decimal" > Decimal<br>
                <input type="radio" name="group1" value="Binary" > Binary<br>
                <input type="radio" name="group1" value="Hex"> Hex
            </div>
        </form>
        <button type="button" class="btn btn-primary" onclick="selectOption()">Matrix Base option</button>
    </div>
    
    <!--check-->
<!--  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">choose
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
          <button type="button" class="btn btn-primary" onclick="selectSize()">Matrix Base size</button>
  </div>-->
   
</div>
    
 