
table {
    border-collapse:collapse;
    border:2px solid cadetblue;
    margin:5px auto;
    border-spacing:0;
    box-shadow: 3px 3px 3px #CCC;
}
tr,td {
    border:1px solid #111;
    text-align: center;
    padding:3px;
}
.dark {
    background:lightblue;
    font-weight:bolder;
}
.bright {
    background:white;
    /*    font-weight:bolder;*/
}

.blue_color {
    background:blue;
    /*    font-weight:bolder;*/
}
.text_bold {
    font-weight: bold;
    /*    font-weight:bolder;*/
}


/*-------------------------------------------------------*/